@model Dish

@{
    ViewData["Title"] = "@Model.Name";
}

<div class="card shadow mt-5 mx-auto w-75 border-3 border-light-subtle">
    <div class="card-header">
        <h1 class="text-center text-warning-emphasis">@Model.Name</h1>
        <h5 class="text-center">
            <a asp-action="Index" asp-controller="Home">Home</a> | 
            <a asp-action="NewDish" asp-controller="Dish">Add a Dish</a>
        </h5>
    </div>
    <div class="card-body">
        <div class="mb-3">
            <p class="fs-5">
                <span class="text-primary-emphasis">@Model.Name</span> by 
                <span class="text-warning-emphasis">@Model.Chef</span></p>
        </div>

        <hr>

        <div class="mb-3">
            <p class="fs-5">@Model.Description</p>
            <p class="fs-5">Calories: @Model.Calories</p>
            <p class="fs-5">Tastiness: @Model.Tastiness</p>
        </div>
        <form asp-action="DeleteDish" asp-controller="Dish" asp-route-dishId="@Model.DishId" method="post">
            <button class="btn btn-danger px-5 float-start">Delete</button>
        </form>
        <a asp-action="EditDish" asp-controller="Dish" asp-route-dishId="@Model.DishId" class="btn btn-info px-5 float-end">Edit</a>
    </div>
</div>